{% extends "writingtracker/base.html" %}

{% block title %}Welcome!{% endblock %}
{% block content %}
    <div id="intro">
        <h1>Welcome!</h1>
        <p>This website helps you maintain a daily writing habit.</p>
        <p>Write enough every day, and we give you a big <span class="metgoal">✔</span>.</p>
        <p>Write lots of days in a row and we'll log your record-breaking success streak!</p>
        <p><strong>Sign up <a href="{% url 'writingtracker:register' %}">here</a>!</strong></p>
    </div>
{% endblock %}
