{% extends 'writingtracker/base.html' %}

{% block title %}Preferences{% endblock %}

{% block content %}
<h1>Preferences</h1>

<p>Here you can update your daily word count goal and change your timezone.</p>
<strong>
    <p>After you press update, successes and failures prior to this moment will no longer be displayed.</p>

    <p>Your current streak will be reset to 0.</p>
</strong>

<p>Your past writings will still be accessible.</p>

<hr>

<form action="{% url 'writingtracker:preferences' %}" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update!</button>
    </form>
{% endblock %}
