/*
 * colors: http://paletton.com/#uid=7060u0kkHE0arTkg7LRoSxhuwtj
 */



/*** Sitewide ***/

body, html {
    background-color: white;
    font-family: "Helvetica Neue",Arial,sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1,h2,h3 {
    font-weight: normal;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#content {
    margin: 0 auto;
    width: 750px;
}



/*** Nav bar ***/

#nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 1em;
}

#nav a:hover {
    background-color: #2888a2;
}

#nav {
    background-color: #0b7491;
    display: block;
    font-size: 1.3em;
    list-style-type: none;
    margin: 0 auto 50px auto;
    padding: 27px;
    text-align: right;
}

#nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}



/*** Index page ***/

.cross {
    color: red;
}

.check {
    color: green;
}

#today .cross, #today .check {
    font-size: 4em;
}

.date {
    margin-right: 2em;
}

#content li {
    margin-top: 1em;
}

#previousdays {
    float: left;
    margin: 0;
    text-align: left;
    width: 350px;
}

#recentwritings {
    float: right;
    margin: 0;
    overflow: hidden;
    text-align: right;
    width: 350px;
}

#streaks div {
    display: inline-block;
    font-weight: bold;
    margin: 0 20px;
}



/*** Forms ***/

button {
    border: 1px outset #0b7491;
    background-color: white;
    border-radius: 10px;
    font-size: 1.3em;
    padding: 0 16px;
}

button:hover {
    background-color: #9fd8e8;
}

button:active {
    background-color: #6bbbd1;
}

textarea {
    border-radius: 10px;
    border: 1px outset #0b7491;
    display: block;
    font-size: 1.3em;
    padding: 0 16px;
    height: 600px;
    width: 716px;
}

select {
    font-size: 1.3em;
}

input {
    border: 1px outset #0b7491;
    border-radius: 10px;
    font-size: 1.3em;
    padding: 0 16px;
}

.errorlist {
    color: red;
    font-weight: bold;
}

#writeform {
    font-size: 1.3em;
    position: relative;
    text-align: right;
}

#writeform label {
    display: none;
}

#writeform button {
    position: absolute;
    top: 0;
    left: 0;
}



/*** Story display ***/

.story {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    white-space: pre-wrap;
    width: 600px;
}

#storyheading {
    margin: 100px auto;
}
