/*
 * http://paletton.com/#uid=33o0u0kxzw85NTGh3HaIggMUR7t
 */



/*** Sitewide ***/

body, html {
    background-color: white;
    font-family: "Helvetica Neue",Arial,sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1,h2,h3 {
    font-weight: normal;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    width: 750px;
}

a {
    border-bottom: 1px dotted #057d9f;
    color: #057d9f;
    text-decoration: none;
}

a:hover {
    color: #5fadc3;
}

hr {
    border: 0;
    height: 1px;
    background: #057d9f;
}

/*** Nav bar ***/

#nav a {
    border: none;
    color: #ffffff;
    display: inline-block;
    text-decoration: none;
    padding: 1em;
}

#nav a:hover {
    background-color: #5fadc3;
}

#nav {
    background-color: #057d9f;
    display: block;
    font-size: 1.3em;
    list-style-type: none;
    margin: 0 auto 50px auto;
    text-align: right;
}

#nav li {
    display: inline-block;
    margin: 0;
    padding: 0;
}



/*** Index page ***/

.failedgoal {
    color: red;
}

.metgoal {
    color: green;
}

.ongoinggoal {
    color: blue;
    font-weight: bold;
}

#today .failedgoal, #today .metgoal, #today .ongoinggoal {
    font-size: 4em;
}

div.failedgoal, div.metgoal, div.ongoinggoal {
    font-size: 4em;
}

.date {
    margin-right: 2em;
}

main ol {
    margin-top: 1em;
    border: 1px dotted #aaa;
}

main li {
    border-top: 1px dotted #aaa;
    padding: 0.5em 0.5em;
}

main li:first-child {
    border: 1px none #aaa;
}

#previousdays {
    float: left;
    margin: 0;
    text-align: left;
    width: 350px;
}

#previousdays ol {
    width: 250px;
}

#recentwritings {
    float: right;
    margin: 0;
    overflow: hidden;
    text-align: right;
    width: 350px;
}

#streaks div {
    display: inline-block;
    font-weight: bold;
    margin: 0 20px;
}

#history p {
    font-size: 0.9em;
    margin-bottom: 5px;
    margin-top: 0;
}



/*** No auth index***/

#intro p {
   margin: 30px 0;
}

#intro strong {
    font-size: 1.5em;
}

/*** Forms ***/

button {
    border: 1px outset #5fadc3;
    background-color: white;
    border-radius: 10px;
    font-size: 1.3em;
    padding: 0 16px;
}

button:hover {
    background-color: #c0e0e9;
}

button:active {
    background-color: #5fadc3;
}

button:disabled {
    background-color: white;
}

form p {
    margin-bottom: 50px;
}

label {
    display: inline-block;
    font-size: 1.1em;
    font-weight: bold;
}

.helptext {
    display: block;
    margin-top: 10px;
}

textarea {
    border-radius: 10px;
    border: 1px outset #5fadc3;
    display: block;
    font-size: 1.3em;
    margin-top: 20px;
    padding: 0 16px;
    height: 600px;
    width: 716px;
}

select {
    font-size: 1.3em;
}

input {
    border: 1px outset #057d9f;
    border-radius: 10px;
    font-size: 1.3em;
    padding: 0 16px;
}

.errorlist {
    color: red;
    font-weight: bold;
}

#writeform {
    font-size: 1.3em;
    position: relative;
    text-align: right;
}

#writeform label {
    display: none;
}

#writeform button {
    position: absolute;
    top: 0;
    left: 0;
}


/*** History ***/

#historycontainer {
    position: relative;
}

#loadingmessage {
    position: absolute;
    left: 0;
    top: 0;
}

/*** Story display ***/

.story {
    margin: 0 auto;
    padding: 0;
    text-align: left;
    white-space: pre-wrap;
    width: 600px;
}

#storyheading {
    margin: 100px auto;
}


/*** Write page ***/
#wordcount {
    font-size: 1.5em;
}
