{% extends 'storyshare/base.html' %}

{% load staticfiles %}

{% block title %}Your past writings{% endblock %}

{% block scripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.3.0/react-dom.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js" defer></script>
    <script src="{% static 'storyshare/history.js' %}" type="text/babel" defer></script>
{% endblock %}

{% block content %}
<h1>Past writings</h1>

<a href="{% url 'storyshare:index' %}">Return to main page</a>

<p>Click the 'newer' and 'older' buttons to view newer or older writings.</p>

<div id='writinglist'>Loading...</div>

{% endblock %}
