{% extends "storyshare/base.html" %}

{% block title %}Register!{% endblock %}

{% block content %}

{% if missing_field %}
    A field was missing!
{% endif %}

{% if user_exists %}
    User already exists!
{% endif %}

<form action="/register" method="post">
    {% csrf_token %}
    <div>
        <label for="username">Username: </label>
        <input type="text" id="username" name="username" autocomplete="username" />
    </div>

    <div>
        <label for="password">Password: </label>
        <input type="password" id="password" name="password" autocomplete="new-password" />
    </div>

    <div>
        <label for="email">Email address: </label>
        <input type="email" id="email" name="email" autocomplete="email" />
    </div>
   
    <div>
        <button type="submit">Register!</button>
    </div>
</form>

{% endblock %}
